* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(222, 184, 135, 0.374);
  color: rgb(21, 3, 39);
  font-size: 1.2em;
}
form {
  padding: 4vh;
  width: 45vw;
  height: 65vh;
  background-color: rgba(240, 255, 255, 0.785);
  border: 1px solid rgba(21, 0, 255, 0.237);
}
.title {
  margin-bottom: 20px;
  font-weight: 800;
  font-size: 1.7em;
  text-align: center;
}
h3 {
  font-size: 1.1em;
  margin-bottom: 1vh;
}
div {
  display: flex;
  gap: 10px;
}
.gender {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 1.3vw;
  margin-bottom: 1.5vh;
}
input {
  margin-bottom: 1.5vh;
}
select {
  width: 65%;
  margin-bottom: 2vh;
}
.agreement {
  padding-top: 3vh;
  margin-bottom: 1.5vh;
  align-items: baseline;
  color: rgba(76, 73, 73, 0.525);
}
.submit {
  width: 45%;
  height: 5vh;
  margin: auto;
  background-color: rgba(62, 129, 206, 0.234);
  border-color: rgba(0, 191, 255, 0.195);
  color: darkslategrey;
  font-weight: 600;
}
.err {
  color: red;
  font-size: small;
}
